
.btn{
    background-color: #3d5a80;
}

.btn:hover{
    background-color: #6b8ead;
}



.row-el{
    display: flex;
    gap: 8px !important;
    padding: 10px 20px;
    overflow-y: hidden !important;
    overflow-x: scroll !important;
    padding-bottom: 30px;
    margin-bottom: 20px;
    scrollbar-color: #353535 #bdbbb0;
    scrollbar-width: 10px;
   
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #bdbbb0;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #353535;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #383838;
  }


 
  