@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.App{
  position: relative;
  min-height: 100vh;
}

body{
  
  background: #1f1f23 !important;

  
 
}
/* #1f1f23 dark
   #22223b*/


 input:focus{
  outline: black;
}

.content-wrap {
  padding-bottom: 7rem !important;   
}

footer {
  height: 7rem !important;
  position: absolute;
  bottom: 0;
  width: 100%;
            
}

@media screen and (max-width: 768px) {
  footer{
     height: 12rem !important;
  }
  .content-wrap {
    padding-bottom: 12rem !important;   
  }
}


